@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

$white: #fff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
$black:#666;
$gray:#D8D8D8;
html {
  font-size: 18.8px;
}

#about {
  .about-header {
    padding: pxTorem(40);
    background: url('../pc/about/pic_1.png') no-repeat;
    background-size: 100% 100%;
    color: #666;
    .pic-logo {
      width: pxTorem(88);
      float: left;
      margin-right: pxTorem(34);
    }
    .th {
      margin-bottom: pxTorem(40);
    }
    .about-name {
      overflow: auto;
      p {
        margin: 0;
      }
      .en {
        font-size: pxTorem(20);
        font-weight: $Medium;
        line-height: pxTorem(28);
        margin-top: pxTorem(10);
      }
      .name {
        font-size: pxTorem(32);
        line-height: pxTorem(45);
        position: relative;
        padding-bottom: pxTorem(6);
        &::before {
          content: "";
          width: 2.5rem;
          position: absolute;
          height: 1px;
          background: #5387C8;
          left: 0;
          bottom: 0;
        }
      }
    }
    .about-txts {
      font-size: pxTorem(26);
      line-height: pxTorem(44);
    }
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0 0 pxTorem(8) pxTorem(8);
  }
  .mod {
    padding: pxTorem(60) pxTorem(40);
    background: #fff;
    .tit {
      text-align: center;
      padding-bottom: pxTorem(10);
      font-size: pxTorem(32);
      line-height: pxTorem(45);
      color: #666;
      &::after {
        display: block;
        content: "";
        width: 2.5rem;
        position: relative;
        height: 1px;
        background: #5387C8;
        left: calc(50% - 1.25rem);
        bottom: pxTorem(-10);
      }
    }
  }
  .growth {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: flex;
      text-align: center;
      margin: pxTorem(70) 0 pxTorem(16) 0;
      position: relative;
      div {
        flex: 1;
        padding: 0 pxTorem(12);
        box-sizing: border-box;
      }
      p {
        margin: 0;
        font-size: pxTorem(26);
        line-height: pxTorem(36);
        color: #333;
        margin-top: pxTorem(30);
      }
    }
    .img-box {
      // padding: 0 pxTorem(140);
      height: pxTorem(140);
      img {
        height: 100%;
      }
    }
    .ac-ri {
      color: #F25D61;
      position: absolute;
      left: 50%;
      top: 1rem;
      transform: translateX(-50%);
      font-size: 1.5rem;
    }
  }
  .company-introduction {
    display: flex;
    padding-top: pxTorem(70);
    .item {
      display: flex;
      flex: 1;
      width: 50%;
      text-align: center;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 pxTorem(30);
      &:first-child {
        border-right: 1px solid rgba(0, 0, 0, .1)
      }
      .image-wrapper {
        margin-bottom: pxTorem(31);
        width: 100%;
        .image {
          width: 100%;
        }
      }
      .introduction {
        font-weight: $Regular;
        font-size: pxTorem(24);
        font-family: PingFangSC-Regular;
        color: rgba(51, 51, 51, 1);
        line-height: pxTorem(33);
      }
    }
  }
  .mod.clear-padding {
    padding: pxTorem(60) 0;
  }
  .company-culture-banner {
    width: 100%;
    padding-top: pxTorem(70);
    z-index: -1;
  }
  .company-culture-paper {
    background: rgba(248, 248, 248, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 pxTorem(40);
    position: relative;
    padding: pxTorem(40);
    top: pxTorem(-80);
    .slider-bar {
      width: pxTorem(40);
      height: pxTorem(4);
      background: rgba(83, 135, 200, 1);
      margin-bottom: pxTorem(23);
    }
    .text {
      font-size: pxTorem(26);
      font-family: PingFangSC-Light;
      color: rgba(102, 102, 102, 1);
      line-height: pxTorem(44);
      font-weight: $Light;
    }
  }
  .contact-us {
    padding: pxTorem(70) 0;
    display: flex;
    .contact-us-qrcode-wrapper {
      flex: 1;
      padding-left: pxTorem(36);
      margin-right: pxTorem(20);
      text-align: center;
      .contact-us-qrcode {
        width: 100%;
      }
    }
    .contact-us-info {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      word-break: break-all;
      margin-top: pxTorem(-10);
      .text {
        font-size: 24/2/18.8 * 1rem;
        font-family: PingFangSC-Light;
        color: rgba(153, 153, 153, 1);
        line-height: pxTorem(37);
        font-weight: $Light; // margin-bottom: pxTorem(14);
      }
    }
  }
}