$equ-font-family:'PingFangSC';
$equ-nav-back:rgb(100, 94, 94);
$equ-background:#F2F2F2;
$equ-title:#333333;
$equ-text:#666666;
$equ-prompt:#999999;
$equ-linesegment:#F2F2F2;
$equ-border:#979797;
$equ-ornament:#5387C8;
$white: #ffffff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
html {
    font-size: 18.8px;
}

@function pxTorem($px) {
    @return $px /2/16 * 1rem;
}

body {
    &.with-panel-right-cover {
        .panel-right {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }
}

.w-100 {
    width: 100% !important;
}

.bar {
    height: 2.8rem;
    .logo {
        height: 1.78125rem;
        margin: 0.5rem 0rem;
        img {
            height: 100%;
        }
    }
    .icon {
        line-height: 1.8rem;
    }
    .title {
        height: 2.8rem;
        font-size: 1rem;
        line-height: 2.8rem;
    }
}

.bar-nav {
    background-color: #0F0F0F;
    .icon,
    .title {
        color: $white;
    }
    &~.content {
        top: 2.8rem;
    }
}

.bar-tab {
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid #CCCCCC;
    height: 4.28rem;
    .tab-item {
        height: 4.28rem;
        .icon {
            height: 2.5rem;
            width: 2.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            &~.tab-label {
                font-size: .7rem;
                font-weight: $Light;
            }
        }
        .icon-home {
            background-image: url('../m/bottomnav/icon_sy.png');
            &:before {
                content: none;
            }
        }
        .icon-product {
            background-image: url('../m/bottomnav/pic_cpzx.png');
        }
        .icon-inquire {
            background-image: url('../m/bottomnav/icon_zpcx.png');
        }
        .icon-brand {
            background-image: url('../m/bottomnav/icon_jxswd.png');
        }
    }
    &~.content {
        bottom: 4.28rem;
    }
}

.bar-tab {
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid #CCCCCC;
}

.panel {
    width: 100%;
}

.panel.panel-right.panel-cover {
    right: -100%;
}

.panel.panel-right.panel-cover {
    &.theme-dark {
        background-color: #0F0F0F;
    }
    .content-block {
        margin: 0.9475rem 0rem 0 1.875rem;
        ;
        padding-right: 0rem;
        img {
            &.logo {
                width: 4.875rem;
            }
            &.close {
                position: absolute;
                right: 1.8rem;
                width: 0.9rem;
            }
        }
        ul,
        li {
            margin: 0rem;
            padding: 0rem;
        }
        .navright {
            margin: 2.1rem 0rem 0rem;
            li {
                list-style: none;
                padding: 0.625rem 0rem 0.46875rem;
                border-bottom: 4px solid transparent;
                p {
                    margin: 0rem;
                }
                .en {
                    font-size: 1rem;
                    font-weight: $Semibold;
                    color: #FFFFFF;
                    line-height: 1.4rem;
                }
                .ch {
                    font-size: 0.8125rem;
                    font-weight: $Light;
                    color: #FFFFFF;
                    line-height: 1.15625rem;
                }
            }
            & .active {
                border-bottom: 4px solid #FFFFFF;
            }
        }
        .time {
            text-align: right;
            padding: 1.875rem;
            padding-right: 1.875rem;
            padding-bottom: 1.875rem;
            position: relative;
            bottom: 0;
            right: 0;
            color: #ffffff;
            p {
                margin: 0.625rem 0rem;
                font-size: 0.625rem;
                &.tel {
                    font-size: 0.8125rem;
                    padding-right: 0.8rem;
                }
            }
        }
    }
}

.page-group {
    .content {
        background-color: #ededed;
        .index-page-1 {
            margin: pxTorem(40);
            background-color: #FFF;
            border-radius: pxTorem(10);
            .banner {
                width: 100%; // height: 13rem;
                height: pxTorem(430);
                .banner-image {
                    width: 100%;
                    height: 100%; // border-radius: pxTorem(10);
                    border-top-right-radius: pxTorem(10);
                    border-top-left-radius: pxTorem(10);
                }
            }
            .introduction {
                margin-top: pxTorem(40);
                width: 100%;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .top {
                    width: pxTorem(368);
                    font-size: pxTorem(24);
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(33);
                    margin-bottom: pxTorem(2);
                    font-weight: $Semibold;
                    font-family: PingFangSC-Semibold;
                }
                .bottom {
                    width: pxTorem(370);
                    font-size: pxTorem(48);
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(67);
                    margin-bottom: pxTorem(20);
                    font-weight: $Semibold;
                    font-family: PingFangSC-Semibold;
                }
                .intro {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: pxTorem(20);
                    margin-bottom: pxTorem(20);
                    .item {
                        position: relative;
                        font-size: pxTorem(24);
                        font-weight: $Light;
                        color: rgba(102, 102, 102, 1);
                        line-height: pxTorem(33);
                        padding-left: pxTorem(20);
                        padding-right: pxTorem(20);
                        font-family: PingFangSC-Light;
                        &:after {
                            position: absolute;
                            content: '';
                            display: block;
                            width: pxTorem(2);
                            height: pxTorem(14);
                            background: #ccc;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:last-child:after {
                            display: none;
                        }
                    }
                }
                .detail {
                    text-align: center;
                    width: pxTorem(230);
                    font-size: pxTorem(20);
                    font-weight: $Light;
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(34);
                    margin-bottom: pxTorem(30);
                    font-family: PingFangSC-Light;
                }
                .button {
                    line-height: pxTorem(60);
                    text-align: center;
                    width: pxTorem(170);
                    height: pxTorem(60);
                    background: rgba(83, 135, 200, 1);
                    border-radius: pxTorem(30);
                    margin-bottom: pxTorem(50);
                    .inner-text {
                        width: pxTorem(100);
                        height: pxTorem(33);
                        font-size: pxTorem(24);
                        font-weight: $Light;
                        color: rgba(255, 255, 255, 1);
                        line-height: pxTorem(33);
                        font-family: PingFangSC-Light;
                    }
                }
            }
        }
        .index-page-2 {
            margin: pxTorem(40);
            background-color: #FFF;
            border-radius: pxTorem(10);
            .title-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: pxTorem(127);
                text-align: center;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                .sub-title {
                    width: pxTorem(222);
                    font-size: pxTorem(20);
                    color: rgba(102, 102, 102, 1);
                    font-weight: $Medium;
                    line-height: pxTorem(28);
                    font-family: PingFangSC-Medium;
                }
                .primary-title {
                    width: pxTorem(132);
                    font-size: pxTorem(32);
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(45);
                    font-weight: $Medium;
                    margin-bottom: pxTorem(6);
                    font-family: PingFangSC-Medium;
                }
                .slider-bar {
                    width: pxTorem(50);
                    height: 1px;
                    background: rgba(83, 135, 200, 1);
                }
            }
            .brand-tab {
                display: flex;
                border-bottom: 1px solid #d8d8d8;
                font-size: 0px;
                height: pxTorem(108);
                >a {
                    flex: 1;
                    text-align: center;
                    img {
                        width: pxTorem(150);
                        margin-top: pxTorem(20);
                        padding-bottom: pxTorem(20);
                    }
                }
                .cur {
                    >img {
                        border-bottom: 3px solid #5387c8;
                    }
                }
            }
            /* 商品列表 */
            .products-list {
                padding: 0 pxTorem(40);
                margin-top: pxTorem(50);
                overflow: hidden;
            }
            .product {
                float: left;
                width: 50%;
                padding: 0 0.8rem; // box-sizing: border-box;
                text-align: center;
                margin-bottom: pxTorem(70);
                img {
                    width: 100%;
                    display: inline-block;
                    margin-bottom: pxTorem(20);
                }
                .img-box {
                    padding: 0 pxTorem(20);
                }
                .txts {
                    font-size: 12px;
                    color: #333; // width: pxTorem(220); // margin: 0 auto .9375rem;
                    margin: 0;
                    margin-bottom: pxTorem(30);
                    font-size: pxTorem(24);
                    line-height: pxTorem(33);
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .product-btn {
                    background: #5387C8;
                    border-radius: 1rem;
                    padding: pxTorem(8) pxTorem(20);
                    color: #fff;
                    font-size: pxTorem(20);
                }
            }
            .product:nth-child(odd) {
                padding-left: 0;
            }
            .product:nth-child(even) {
                padding-right: 0;
            }
        }
        .index-page-3 {
            .banner {
                position: relative;
                width: 100%;
                height: pxTorem(547);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .banner-background {
                    width: 100%;
                    height: 100%;
                    position: absolute; // z-index: -1;
                    z-index: 1;
                }
                .banner-icon,
                .banner-text,
                .banner-search-button {
                    z-index: 10;
                }
                .banner-icon {
                    width: pxTorem(102);
                    height: pxTorem(119);
                    margin-top: pxTorem(50);
                    margin-bottom: pxTorem(31);
                }
                .banner-text {
                    display: inline-block;
                    width: pxTorem(584);
                    font-size: pxTorem(26);
                    color: rgba(255, 255, 255, 1);
                    line-height: pxTorem(44);
                    font-weight: $Light;
                    margin-bottom: pxTorem(30)
                }
                .banner-search-button {
                    display: block;
                    border: pxTorem(1) solid #fff;
                    width: pxTorem(170);
                    height: pxTorem(60);
                    line-height: pxTorem(60);
                    border-radius: pxTorem(30);
                    background: transparent;
                    .inner-text {
                        font-size: pxTorem(24);
                        color: rgba(255, 255, 255, 1);
                        line-height: 33px;
                        font-weight: $Regular;
                    }
                }
            }
            .center-wrapper {
                margin: 0 auto;
                box-sizing: border-box;
                width: 90%;
            }
            .about-us {
                position: relative;
                padding: pxTorem(40);
                border-radius: pxTorem(6);
                transform: translateY(pxTorem(-100));
                z-index: 100;
                border-radius: pxTorem(10);
                padding: pxTorem(40);
                background: url('../pc/about/pic_1.png') no-repeat;
                background-size: 100% 100%;
                background-color: rgb(240, 240, 240);
                .header {
                    display: flex;
                    margin-bottom: pxTorem(40);
                    .company-icon {
                        width: pxTorem(79);
                        height: pxTorem(79);
                        margin-right: pxTorem(30);
                    }
                    .about-us-title-wrapper {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .sub-title {
                            font-size: pxTorem(20);
                            color: rgba(102, 102, 102, 1);
                            line-height: pxTorem(28);
                            font-weight: $Medium;
                            font-family: PingFangSC-Medium;
                        }
                        .primary-title {
                            font-size: pxTorem(32);
                            color: rgba(102, 102, 102, 1);
                            line-height: pxTorem(45);
                            font-weight: $Medium;
                            font-family: PingFangSC-Medium;
                        }
                        .slider-bar {
                            display: inline-block;
                            width: pxTorem(50);
                            height: 1px;
                            background: rgba(83, 135, 200, 1);
                        }
                    }
                }
                .about-us-content {
                    display: flex;
                    align-items: center;
                    .about-us-inner-text {
                        font-size: pxTorem(26);
                        color: rgba(102, 102, 102, 1);
                        line-height: pxTorem(44);
                        font-weight: $Light;
                        font-family: PingFangSC-Light;
                    }
                }
            }
            .media-information {
                display: flex;
                flex-direction: column;
                margin-bottom: pxTorem(50);
                .sub-title {
                    font-size: pxTorem(20);
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(28);
                    font-weight: $Medium;
                    font-family: PingFangSC-Medium;
                }
                .primary-title {
                    font-size: pxTorem(32);
                    color: rgba(102, 102, 102, 1);
                    line-height: pxTorem(45);
                    font-weight: $Medium;
                    font-family: PingFangSC-Medium;
                }
                .slider-bar {
                    display: inline-block;
                    width: pxTorem(50);
                    height: 1px;
                    background: rgba(83, 135, 200, 1);
                }
            }
            .news-list {
                background-color: transparent;
                ul {
                    background-color: transparent;
                }
                .list-block .item-content {
                    padding: 0rem;
                }
            }
        }
    }
}

.news-list {
    background-color: $white;
    .content-block-title {
        font-size: 0.875rem;
        font-weight: $Medium;
        color: #666666;
        line-height: 1.125rem;
        overflow: unset;
        margin: 0.4375rem 0.75rem 0.4375rem;
    }
    .list-block {
        ul:before,
        ul:after {
            display: none;
        }
        .item-content {
            padding: 0rem 0.75rem;
        }
        .item-link {
            .item-inner {
                background-image: none;
                padding-right: 0rem;
                padding-top: 0.9375rem;
                padding-bottom: 0.9375rem;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                &:after {
                    display: none;
                }
            }
        }
        li:first-child {
            .item-inner {
                border-top: 1px solid rgba(0, 0, 0, .1);
            }
        }
        .lititle {
            font-size: 0.875rem;
            font-weight: $Regular;
            color: #333333;
            line-height: 1.375rem;
        }
        &.media-list {
            .time {
                font-weight: $Light;
                font-size: 0.75rem;
                color: #999999;
                line-height: 1rem;
                margin-bottom: 0.53rem;
                display: flex;
                span {
                    float: left;
                }
                .cls {
                    background-color: #5387C8;
                    margin-left: .5rem;
                    color: $white;
                    padding: 0.1rem 0.3rem;
                }
            }
        }
    }
}

.news-show {
    .news-content {
        background-color: $white;
        .content-padded {
            padding: pxTorem(30) pxTorem(40);
            margin: 0rem;
            .contenttitle {
                font-size: pxTorem(42);
                font-weight: $Medium;
                color: #333333;
                line-height: pxTorem(59);
                margin: 0rem;
                margin-bottom: pxTorem(18);
            }
            .zztime {
                font-size: pxTorem(24);
                font-weight: $Light;
                color: #666666;
                line-height: pxTorem(33);
                margin: 0rem;
                margin-bottom: pxTorem(30);
                padding-bottom: pxTorem(29);
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
            .htimg {
                margin: pxTorem(30) 0rem;
                width: 100%;
            }
            .showcontent {
                font-size: pxTorem(26);
                font-weight: $Light;
                color: #666666;
                line-height: pxTorem(44);
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
            .previous,
            .next {
                font-size: pxTorem(26);
                font-weight: Light;
                color: #878787;
                line-height: pxTorem(37);
                margin: pxTorem(20) 0rem;
                a {
                    color: #262626;
                }
            }
        }
    }
    .news-list {
        border-top: 1px solid #D8D8D8;
        .content-block-title {
            margin: 0.4375rem pxTorem(40) 0.4375rem;
            font-size: pxTorem(28);
            font-weight: $Medium;
            color: #666666;
            line-height: pxTorem(40);
        }
        .list-block .item-content {
            padding: 0rem pxTorem(40);
        }
    }
}