@charset "UTF-8";
html {
  font-size: 18.8px;
}

body.with-panel-right-cover .panel-right {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.bar-nav {
  background-color: #0F0F0F;
}

.bar-nav .icon,
.bar-nav .title {
  color: #ffffff;
}

.bar-tab {
  background-color: white;
  border-top: 1px solid #CCCCCC;
}

.panel {
  width: 100%;
}

.panel.panel-right.panel-cover {
  right: -100%;
}

.panel.panel-right.panel-cover.theme-dark {
  background-color: #0F0F0F;
}

.panel.panel-right.panel-cover .content-block {
  margin: 0.9475rem 0rem 0 1.875rem;
  padding-right: 0rem;
}

.panel.panel-right.panel-cover .content-block img.logo {
  width: 4.875rem;
}

.panel.panel-right.panel-cover .content-block img.close {
  position: absolute;
  right: 1.8rem;
  width: 0.9rem;
}

.panel.panel-right.panel-cover .content-block ul,
.panel.panel-right.panel-cover .content-block li {
  margin: 0rem;
  padding: 0rem;
}

.panel.panel-right.panel-cover .content-block .navright {
  margin: 2.1rem 0rem 0rem;
}

.panel.panel-right.panel-cover .content-block .navright li {
  list-style: none;
  padding: 0.625rem 0rem 0.46875rem;
  border-bottom: 4px solid transparent;
}

.panel.panel-right.panel-cover .content-block .navright li p {
  margin: 0rem;
}

.panel.panel-right.panel-cover .content-block .navright li .en {
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.4rem;
}

.panel.panel-right.panel-cover .content-block .navright li .ch {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 1.15625rem;
}

.panel.panel-right.panel-cover .content-block .navright .active {
  border-bottom: 4px solid #FFFFFF;
}

.panel.panel-right.panel-cover .content-block .time {
  text-align: right;
  padding: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 1.875rem;
  position: relative;
  bottom: 0;
  right: 0;
  color: #ffffff;
}

.panel.panel-right.panel-cover .content-block .time p {
  margin: 0.625rem 0rem;
  font-size: 0.625rem;
}

.panel.panel-right.panel-cover .content-block .time p.tel {
  font-size: 0.8125rem;
  padding-right: 0.8rem;
}

.page-group .content .index-page-1 .banner {
  width: 100%;
  height: 13.4375rem;
}

.page-group .content .index-page-1 .banner .banner-image {
  width: 100%;
  height: 100%;
}

.page-group .content .index-page-1 .introduction {
  margin-top: 1.25rem;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-group .content .index-page-1 .introduction .top {
  width: 11.5rem;
  height: 1.03125rem;
  font-size: 0.75rem;
  color: #666666;
  line-height: 1.03125rem;
  margin-bottom: 0.0625rem;
  font-weight: 500;
}

.page-group .content .index-page-1 .introduction .bottom {
  width: 11.5625rem;
  height: 2.09375rem;
  font-size: 1.5rem;
  color: #666666;
  line-height: 2.09375rem;
  margin-bottom: 0.625rem;
  font-weight: 500;
}

.page-group .content .index-page-1 .introduction .intro {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.page-group .content .index-page-1 .introduction .intro .item {
  position: relative;
  height: 1.03125rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: #666666;
  line-height: 1.03125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.page-group .content .index-page-1 .introduction .intro .item:after {
  position: absolute;
  content: '';
  display: block;
  width: 0.0625rem;
  height: 0.4375rem;
  background: #ccc;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-group .content .index-page-1 .introduction .intro .item:last-child:after {
  display: none;
}

.page-group .content .index-page-1 .introduction .detail {
  text-align: center;
  width: 7.1875rem;
  height: 2.125rem;
  font-size: 0.625rem;
  font-weight: 300;
  color: #666666;
  line-height: 1.0625rem;
  margin-bottom: 0.9375rem;
}

.page-group .content .index-page-1 .introduction .button {
  line-height: 1.875rem;
  text-align: center;
  width: 5.3125rem;
  height: 1.875rem;
  background: #5387c8;
  border-radius: 0.9375rem;
}

.page-group .content .index-page-1 .introduction .button .inner-text {
  width: 3.125rem;
  height: 1.03125rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: white;
  line-height: 1.03125rem;
}

.page-group .content .index-page-2 {
  /* 商品列表 */
}

.page-group .content .index-page-2 .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.96875rem;
  text-align: center;
}

.page-group .content .index-page-2 .title-wrapper .sub-title {
  width: 6.9375rem;
  height: 0.875rem;
  font-size: 0.625rem;
  color: #666666;
  font-weight: 400;
  line-height: 0.875rem;
}

.page-group .content .index-page-2 .title-wrapper .primary-title {
  width: 4.125rem;
  height: 1.40625rem;
  font-size: 1rem;
  color: #666666;
  line-height: 1.40625rem;
  font-weight: 400;
  margin-bottom: 0.1875rem;
}

.page-group .content .index-page-2 .title-wrapper .slider-bar {
  width: 1.5625rem;
  height: 0.03125rem;
  background: #5387c8;
}

.page-group .content .index-page-2 .brand-tab {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  font-size: 0px;
  height: 3.375rem;
}

.page-group .content .index-page-2 .brand-tab > a {
  flex: 1;
  text-align: center;
}

.page-group .content .index-page-2 .brand-tab > a img {
  width: 4.6875rem;
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.page-group .content .index-page-2 .brand-tab .cur > img {
  border-bottom: 3px solid #5387c8;
}

.page-group .content .index-page-2 .products-list {
  padding: 0 1.25rem;
  margin-top: 1.5625rem;
  overflow: hidden;
}

.page-group .content .index-page-2 .product {
  float: left;
  width: 50%;
  padding: 0 0.8rem;
  text-align: center;
  margin-bottom: 2.1875rem;
}

.page-group .content .index-page-2 .product img {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.625rem;
}

.page-group .content .index-page-2 .product .img-box {
  padding: 0 0.625rem;
}

.page-group .content .index-page-2 .product .txts {
  font-size: 12px;
  color: #333;
  margin: 0;
  margin-bottom: 0.9375rem;
  font-size: 0.75rem;
  line-height: 1.03125rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-group .content .index-page-2 .product .product-btn {
  background: #5387C8;
  border-radius: 1rem;
  padding: 0.25rem 0.625rem;
  color: #fff;
  font-size: 0.625rem;
}

.page-group .content .index-page-2 .product:nth-child(odd) {
  padding-left: 0;
}

.page-group .content .index-page-2 .product:nth-child(even) {
  padding-right: 0;
}

.page-group .content .index-page-3 .banner {
  position: relative;
  width: 100%;
  height: 17.09375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-group .content .index-page-3 .banner .banner-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.page-group .content .index-page-3 .banner .banner-icon {
  width: 3.1875rem;
  height: 3.71875rem;
  background: white;
  margin-top: 1.5625rem;
  margin-bottom: 0.96875rem;
}

.page-group .content .index-page-3 .banner .banner-text {
  display: inline-block;
  width: 18.25rem;
  height: 2.75rem;
  font-size: 0.8125rem;
  color: white;
  line-height: 1.375rem;
  font-weight: 300;
  margin-bottom: 0.9375rem;
}

.page-group .content .index-page-3 .banner .banner-search-button {
  border: 0.03125rem solid #fff;
  width: 5.3125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 0.9375rem;
  background: transparent;
}

.page-group .content .index-page-3 .banner .banner-search-button .inner-text {
  font-size: 0.75rem;
  color: white;
  line-height: 33px;
  font-weight: 300;
}

.page-group .content .index-page-3 .center-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 90%;
}

.page-group .content .index-page-3 .about-us {
  position: relative;
  padding: 1.25rem;
  height: 13.6875rem;
  border-radius: 0.1875rem;
  transform: translateY(-3.125rem);
}

.page-group .content .index-page-3 .about-us .about-us-background {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.page-group .content .index-page-3 .about-us .header {
  display: flex;
}

.page-group .content .index-page-3 .about-us .header .company-icon {
  flex: 0 0 2.46875rem;
  margin-right: 0.9375rem;
}

.page-group .content .index-page-3 .about-us .header .about-us-title-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-group .content .index-page-3 .about-us .header .about-us-title-wrapper .sub-title {
  height: 0.875rem;
  font-size: 0.625rem;
  color: #666666;
  line-height: 0.875rem;
  font-weight: 400;
}

.page-group .content .index-page-3 .about-us .header .about-us-title-wrapper .primary-title {
  height: 1.40625rem;
  font-size: 1rem;
  color: #666666;
  line-height: 1.40625rem;
  font-weight: 400;
}

.page-group .content .index-page-3 .about-us .header .about-us-title-wrapper .slider-bar {
  display: inline-block;
  width: 1.5625rem;
  height: 1px;
  background: #5387c8;
}

.page-group .content .index-page-3 .about-us .about-us-content {
  display: flex;
  align-items: center;
}

.page-group .content .index-page-3 .about-us .about-us-content .about-us-inner-text {
  font-size: 0.8125rem;
  color: #666666;
  line-height: 44px;
  line-height: 1.375rem;
  font-weight: 300;
}

.page-group .content .index-page-3 .media-information {
  display: flex;
  flex-direction: column;
}

.page-group .content .index-page-3 .media-information .sub-title {
  height: 0.875rem;
  font-size: 0.625rem;
  color: #666666;
  line-height: 0.875rem;
  font-weight: 400;
}

.page-group .content .index-page-3 .media-information .primary-title {
  height: 1.40625rem;
  font-size: 1rem;
  color: #666666;
  line-height: 1.40625rem;
  font-weight: 400;
}

.page-group .content .index-page-3 .media-information .slider-bar {
  display: inline-block;
  width: 1.5625rem;
  height: 1px;
  background: #5387c8;
}
