@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

$white: #fff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
html {
  font-size: 18.8px;
}

#checkPro {
  .content {
    padding: pxTorem(60) pxTorem(50);
    text-align: center;
    background: #fff;
  }
  .check-box {
    .txts {
      font-size: pxTorem(26);
      color: #666;
      word-break: break-all;
      line-height: pxTorem(44);
    }
    .check-blue {
      margin: pxTorem(40) 0 pxTorem(30);
      font-size: pxTorem(26);
      color: rgba(83, 135, 200, 1);
      line-height: pxTorem(44);
      display: block;
    }
    .check-input {
      width: pxTorem(366);
      padding: 0 pxTorem(20);
      box-sizing: border-box;
      height: pxTorem(60);
      border-radius: pxTorem(30);
      margin: 0 auto;
      text-align: center;
      box-sizing: border-box;
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #666;
      font-size: pxTorem(32);
      margin-bottom: pxTorem(30);
    }
    .btn-primary {
      padding: 0 pxTorem(60);
      height: pxTorem(60);
      font-size: pxTorem(24);
      color: rgba(255, 255, 255, 1);
      line-height: pxTorem(60);
      background: rgba(83, 135, 200, 1);
      border-radius: pxTorem(30);
      margin: 0 auto;
      border: none;
    }
  }
  .split {
    padding: pxTorem(40) 0rem;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    div {
      width: pxTorem(16);
      height: pxTorem(16);
      background-color: #999999;
      border-radius: pxTorem(16);
    }
  }
  .result-box {
    p {
      margin: 0;
      color: #999;
      line-height: pxTorem(44);
      font-size: pxTorem(26);
    }
    .searchtti {
      color: #999;
      font-weight: $Light;
      margin-bottom: pxTorem(30);
    }
    .searchtti~p {
      margin-bottom: pxTorem(14);
    }
    .tit {
      font-weight: $Medium;
      font-size: pxTorem(32);
      color: #666;
    }
    .warranty {
      color: #535353;
      span {
        color: #5387C8;
        font-weight: $Medium;
      }
    }
    .hh {
      color: #5387C8;
      font-weight: $Medium;
    }
    .searchtti,
    .warranty,
    .hh {
      font-size: pxTorem(30);
    }
  }
  /* 弹窗样式 */
  .modal-inner {
    padding: pxTorem(30) pxTorem(40) pxTorem(40);
    border-radius: pxTorem(8) pxTorem(8) 0 0;
    background: #fff;
  }
  .modal-title {
    color: #333;
    font-size: pxTorem(32);
    font-weight: $Regular;
  }
  .modal-text {
    border-radius: 0;
    color: #666;
    margin-top: pxTorem(30);
    font-size: pxTorem(28);
    line-height: pxTorem(48);
    font-weight: $Light;
  }
  .modal-button:first-child:last-child {
    border-radius: 0 0 pxTorem(8) pxTorem(8);
    background: #fff;
    font-weight: $Light;
  }
}