@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

$white: #fff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
$black:#666;
$gray:#D8D8D8;
html {
  font-size: 18.8px;
}

#download {
  // 公用
  .page {
    background: #fff;
  }
  .icon-arrow-down {
    width: pxTorem(23);
    height: pxTorem(23);
    position: absolute;
    right: pxTorem(25);
    top: pxTorem(30);
    &::after,
    &::before {
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: pxTorem(10) transparent dashed;
      border-left: pxTorem(10) transparent dashed;
      border-right: pxTorem(10) transparent dashed;
      border-top: pxTorem(10) #fff solid;
      overflow: hidden;
      content: '';
    }
    &::after {
      border-top: pxTorem(10) #fff solid;
    }
    &::before {
      top: 1px;
      /*重要*/
      border-top: pxTorem(10) #666 solid;
    }
    &.cur {
      transform: rotate(180deg);
      top: pxTorem(20);
    }
  }
  .brand-tab {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    font-size: 0px;
    height: pxTorem(108);
    >a {
      flex: 1;
      text-align: center;
      img {
        width: pxTorem(150);
        margin-top: pxTorem(20);
        padding-bottom: pxTorem(20);
      }
    }
    .cur {
      >img {
        border-bottom: 3px solid #5387c8;
      }
    }
  }
  .products-select {
    padding: 0 pxTorem(40);
    .select-tit {
      color: #666;
      font-size: pxTorem(28);
      padding: pxTorem(15) 0;
      border-bottom: 1px solid $gray;
      position: relative;
      font-weight: $Medium;
    }
  }
  .select-row {
    overflow: hidden;
    >a {
      flex: 1;
      width: 50%;
      border-bottom: 1px solid $gray;
      padding: pxTorem(11) 0;
      color: $black;
      float: left;
      font-size: pxTorem(26);
      font-weight: $Light;
    }
    height: 0;
  }
  .select-row.cur {
    height: 100%;
  }
  /* download页样式 */
  .download-list {
    padding: 0 pxTorem(40);
  }
  .download-tit {
    font-size: pxTorem(28);
    padding: pxTorem(15) 0;
    color: #666;
    position: relative;
    margin-bottom: pxTorem(10);
    font-weight: $Medium;
    &::before {
      width: pxTorem(56);
      height: pxTorem(2);
      background: #5387C8;
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
    }
  }
  .file-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      list-style: none;
      padding: pxTorem(30) 0;
      border-bottom: pxTorem(1) solid #D8D8D8;
      >a {
        color: #666;
      }
      p {
        margin: 0;
      }
    }
    .file-name {
      font-size: pxTorem(26);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: $Regular;
    }
    .file-time {
      margin-top: pxTorem(10);
      font-size: pxTorem(24);
      font-weight: $Light;
    }
  }
}