@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

$white: #fff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
html {
  font-size: 18.8px;
}

$black:#666;
$gray:#D8D8D8;
#findDealer {
  // 公用
  .page {
    background: #fff;
  }
  .content {
    background: #fff;
  }
  .icon-arrow-down {
    width: pxTorem(23);
    height: pxTorem(23);
    position: absolute;
    left: pxTorem(126);
    top: pxTorem(13);
    &::after,
    &::before {
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: pxTorem(10) transparent dashed;
      border-left: pxTorem(10) transparent dashed;
      border-right: pxTorem(10) transparent dashed;
      border-top: pxTorem(10) #fff solid;
      overflow: hidden;
      content: '';
    }
    &::after {
      border-top: pxTorem(10) #fff solid;
    }
    &::before {
      top: 1px;
      /*重要*/
      border-top: pxTorem(10) #666 solid;
    }
    &.cur {
      transform: rotate(180deg);
      top: pxTorem(5);
    }
  }
  .brand-tab {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    font-size: 0px;
    height: pxTorem(108);
    >a {
      flex: 1;
      text-align: center;
      img {
        width: pxTorem(150);
        margin-top: pxTorem(20);
        padding-bottom: pxTorem(20);
      }
    }
    .cur {
      >img {
        border-bottom: 3px solid #5387c8;
      }
    }
  }
  /* 查询页 */
  .area-select {
    padding: 0 pxTorem(40);
    .select-bar {
      padding: pxTorem(15) 0;
      border-bottom: 1px solid $gray;
      overflow: auto;
    }
    .select-tit {
      color: #666;
      font-size: .875rem;
      position: relative;
      width: 4.5rem;
      float: left;
      margin-right: 1.125rem;
      margin-top: pxTorem(15);
      font-weight: $Medium;
    }
    .search-bar {
      overflow: hidden;
      position: relative;
    }
    .search-input {
      position: static;
      input {
        padding: 0 pxTorem(55) 0 pxTorem(20);
        height: pxTorem(65);
        line-height: pxTorem(65);
        border: 1px solid #D8D8D8;
        border-radius: 1rem;
        font-size: pxTorem(22);
      }
    }
    .button-search {
      border-color: transparent;
      color: #D8D8D8;
      position: absolute;
      right: pxTorem(14);
      top: pxTorem(0);
      height: pxTorem(65);
    }
    .icon-search {
      margin-top: pxTorem(12);
      font-size: pxTorem(30);
    }
  }
  .select-row {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    li {
      list-style: none;
      display: flex;
      border-bottom: 1px solid $gray;
      font-weight: $Light;
      >a {
        flex: 1; // width: 50%;
        padding: pxTorem(21) 0;
        color: $black;
        float: left;
        font-size: pxTorem(26);
      }
    }
    overflow: hidden;
    height: 0; // transition: height 2s;
  }
  .select-row.cur {
    height: 100%;
  }
  .firm-list {
    list-style: none;
    padding: 0 pxTorem(40);
    margin: 0;
    li {
      padding: pxTorem(50) 0;
      border-bottom: 1px solid #D8D8D8;
    }
    p {
      margin: 0;
      color: #666;
      font-size: pxTorem(24);
    }
    .txts {
      line-height: pxTorem(44);
      font-weight: $Light;
    }
    .firm-name {
      font-size: pxTorem(32);
      color: #333;
      position: relative;
      padding-bottom: pxTorem(10);
      margin-bottom: pxTorem(25);
      font-weight: $Medium;
      &::after {
        position: absolute;
        content: '';
        width: pxTorem(108);
        height: pxTorem(2);
        background: #5387C8;
        left: 0;
        bottom: 0;
      }
    }
  }
  /* 无查询结果 */
  .firm-error {
    padding: pxTorem(80);
    text-align: center;
    .icon-error {
      width: pxTorem(130);
      height: pxTorem(130);
      background: url('../m/findDearler/icon_error.png') no-repeat;
      background-size: pxTorem(130);
      display: block;
      margin: 0 auto pxTorem(30);
    }
    span {
      width: pxTorem(428);
      font-size: pxTorem(26);
      color: #999;
      margin: 0 auto;
      font-weight: $Light;
    }
  }
}