@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

$white: #fff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
$black:#666;
$gray:#D8D8D8;
html {
  font-size: 18.8px;
}

#products {
  // 公用
  .page {
    background: #fff;
  }
  .icon-arrow-down {
    width: pxTorem(23);
    height: pxTorem(23);
    position: absolute;
    right: pxTorem(25);
    top: pxTorem(30);
    &::after,
    &::before {
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: pxTorem(10) transparent dashed;
      border-left: pxTorem(10) transparent dashed;
      border-right: pxTorem(10) transparent dashed;
      border-top: pxTorem(10) #fff solid;
      overflow: hidden;
      content: '';
    }
    &::after {
      border-top: pxTorem(10) #fff solid;
    }
    &::before {
      top: 1px;
      /*重要*/
      border-top: pxTorem(10) #666 solid;
    }
    &.cur {
      transform: rotate(180deg);
      top: pxTorem(20);
    }
  }
  .brand-tab {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    font-size: 0px;
    height: pxTorem(108);
    >a {
      flex: 1;
      text-align: center;
      img {
        width: pxTorem(150);
        margin-top: pxTorem(20);
        padding-bottom: pxTorem(20);
      }
    }
    .cur {
      >img {
        border-bottom: 3px solid #5387c8;
      }
    }
  }
  .products-select {
    padding: 0 pxTorem(40);
    .select-tit {
      color: #666;
      font-size: pxTorem(28);
      padding: pxTorem(15) 0;
      border-bottom: 1px solid $gray;
      position: relative;
      font-weight: $Medium;
    }
  }
  .select-row {
    // display: flex;
    overflow: hidden;
    >a {
      flex: 1;
      width: 50%;
      border-bottom: 1px solid $gray;
      padding: pxTorem(11) 0;
      color: $black;
      float: left;
      font-size: pxTorem(26);
      font-weight: $Light;
    }
    height: 0; // transition: height 2s;
  }
  .select-row.cur {
    height: 100%;
  }
  /* 商品列表 */
  .products-list {
    padding: 0 pxTorem(40);
    margin-top: pxTorem(50);
    overflow: hidden;
  }
  .content {
    background: #fff;
  }
  .product {
    float: left;
    width: 50%;
    padding: 0 0.625rem; // box-sizing: border-box;
    text-align: center;
    margin-bottom: pxTorem(70);
    img {
      width: 100%;
      display: inline-block;
      margin-bottom: pxTorem(20);
    }
    .img-box {
      padding: 0 pxTorem(20);
    }
    .txts {
      color: #333;
      margin: 0;
      margin-bottom: pxTorem(30);
      font-size: pxTorem(24);
      line-height: pxTorem(33);
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: $Medium;
      min-height: pxTorem(66);
    }
    .product-btn {
      background: #5387C8;
      border-radius: 1rem;
      padding: pxTorem(8) pxTorem(20);
      color: #fff;
      font-size: pxTorem(20);
    }
  }
  .product:nth-child(odd) {
    padding-left: 0;
  }
  .product:nth-child(even) {
    padding-right: 0;
  }
}