@charset "UTF-8";
$equ-font-family:'PingFangSC';
$equ-nav-back:rgb(100, 94, 94);
$equ-background:#F2F2F2;
$equ-title:#333333;
$equ-text:#666666;
$equ-prompt:#999999;
$equ-linesegment:#F2F2F2;
$equ-border:#979797;
$equ-ornament:#5387C8;
$white: #ffffff;
$Regular:300;
$Medium:400;
$Light:300;
$Semibold:500;
$black:#666;
$gray:#D8D8D8;
@function pxTorem($px) {
  @return $px /2/16 * 1rem;
}

html {
  font-size: 18.8px;
}

body {
  &.with-panel-right-cover {
    .panel-right {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
}

#product-detail {
  // 公用
  .page {
    background: #fff;
  }
  .icon-arrow-down {
    width: pxTorem(23);
    height: pxTorem(23);
    position: absolute;
    right: pxTorem(25);
    top: pxTorem(30);
    &::after,
    &::before {
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: pxTorem(10) transparent dashed;
      border-left: pxTorem(10) transparent dashed;
      border-right: pxTorem(10) transparent dashed;
      border-top: pxTorem(10) #fff solid;
      overflow: hidden;
      content: '';
    }
    &::after {
      border-top: pxTorem(10) #fff solid;
    }
    &::before {
      top: 1px;
      /*重要*/
      border-top: pxTorem(10) #666 solid;
    }
  }
  .brand-tab {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    font-size: 0px;
    height: pxTorem(108);
    >a {
      flex: 1;
      text-align: center;
      img {
        width: pxTorem(150);
        margin-top: pxTorem(20);
        padding-bottom: pxTorem(20);
      }
    }
    .cur {
      >img {
        border-bottom: 3px solid #5387c8;
      }
    }
  }
  .products-select {
    padding: 0 pxTorem(40);
    .select-tit {
      color: #666;
      font-size: pxTorem(28);
      padding: pxTorem(15) 0;
      border-bottom: 1px solid $gray;
      position: relative;
    }
  }
  .select-row {
    // display: flex;
    overflow: hidden;
    >a {
      flex: 1;
      width: 50%;
      border-bottom: 1px solid $gray;
      padding: pxTorem(11) 0;
      color: $black;
      float: left;
      font-size: pxTorem(26);
    }
  }
  /* 产品详情页样式 */
  .br {
    width: 100%;
    height: 1px;
    background: rgba(216, 216, 216, 1);
  }
  .br-black {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .1);
  }
  /* panding左右居中 */
  .padding-center {
    padding: 0 pxTorem(40);
  }
  /* 富文本边距设置 */
  .rich-text-area {
    margin: pxTorem(30) 0;
  }
  .product-info-wrapper {
    position: relative;
    padding: pxTorem(40);
    margin: 0 auto;
    .product-image {
      width: 100%;
      min-height: pxTorem(596);
      margin-bottom: pxTorem(41);
    }
    .product-title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .sub-title {
        font-size: pxTorem(50);
        font-family: PingFangSC-Semibold;
        color: rgba(102, 102, 102, 1);
        line-height: pxTorem(70);
        font-weight: $Semibold;
      }
      .primary-title {
        font-size: pxTorem(42);
        font-family: PingFangSC-Semibold;
        color: rgba(102, 102, 102, 1);
        line-height: pxTorem(59);
        font-weight: $Semibold;
        margin-bottom: pxTorem(10);
      }
      .slider-bar {
        width: pxTorem(70);
        height: pxTorem(4);
        background: rgba(83, 135, 200, 1);
      }
    }
    .product-info-list-wrapper {
      display: flex;
      flex-direction: column;
      margin: pxTorem(41) 0 pxTorem(30) 0;
      .product-info-item {
        font-size: pxTorem(26);
        font-family: PingFangSC-Light;
        color: rgba(102, 102, 102, 1);
        margin-bottom: pxTorem(14);
        &::before {
          display: inline-block;
          content: "";
          width: pxTorem(16);
          height: pxTorem(16);
          background: rgba(83, 135, 200, 1);
          border-radius: 50%;
          margin-right: pxTorem(14);
        }
      }
    }
    .product-info-download-wrapper {
      text-decoration: underline;
      .text {
        height: pxTorem(37);
        font-size: pxTorem(26);
        font-family: PingFangSC-Light;
        color: rgba(83, 135, 200, 1);
        line-height: pxTorem(37);
        &::after {
          display: inline-block;
          content: "";
          width: pxTorem(16);
          height: pxTorem(16);
          border-right: 1px solid rgba(83, 135, 200, 1);
          border-bottom: 1px solid rgba(83, 135, 200, 1);
          transform: rotate(-45deg);
          margin-left: pxTorem(10);
        }
      }
    }
  }
  .product-detail-wrapper {
    .buttons-tab .button {
      display: inline-block;
      margin: pxTorem(24) 0;
      font-size: pxTorem(32);
      font-family: PingFangSC-Medium;
      font-weight: $Medium;
      color: rgba(153, 153, 153, 1);
    }
    .buttons-tab .button.active {
      color: rgba(102, 102, 102, 1);
      border: 0;
    }
    .content-block {
      margin-top: 0;
    }
    .product-parameter-list-wrapper {
      width: 100%;
      .product-parameter-item {
        display: flex;
        align-items: center;
        min-height: pxTorem(80);
        padding: pxTorem(20) 0;
        border-bottom: 1px solid rgba(216, 216, 216, 1);
        .key {
          flex: 0 0 pxTorem(187);
          display: block;
          font-size: pxTorem(26);
          font-family: PingFangSC-Medium;
          color: rgba(102, 102, 102, 1); // line-height:37px;
          font-weight: $Medium;
        }
        .value {
          flex: 1;
          display: block;
          font-size: pxTorem(26);
          font-family: PingFangSC-Light;
          color: rgba(102, 102, 102, 1); // line-height:40px;
          font-weight: $Light;
        }
      }
    }
  }
  .product-recommend-wrapper {
    .product-recommend-title {
      padding: pxTorem(15) 0;
      font-size: pxTorem(28);
      font-family: PingFangSC-Medium;
      color: rgba(102, 102, 102, 1);
      font-weight: $Medium;
      border-bottom: 1px solid rgba(216, 216, 216, 1);
    }
    .product-recommend-list-wrapper {
      position: relative;
      width: 100%;
      padding: pxTorem(50) 0;
      display: flex;
      flex-wrap: wrap;
      .item {
        position: relative;
        display: flex;
        flex: 0 0 50%;
        width: 50%;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: pxTorem(40) 0;
        .product-image {
          height: pxTorem(220);
          margin-bottom: pxTorem(31);
        }
        .product-text {
          padding: 0 pxTorem(60);
          font-weight: $Regular;
          font-size: pxTorem(24);
          font-family: PingFangSC-Regular;
          color: rgba(51, 51, 51, 1);
          line-height: pxTorem(33);
        }
      }
    }
  }
}